extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        a.btn.btn-outline-secondary(href='#') View Detail &raquo;
      .col-md-4
        h2 Services
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        a.btn.btn-outline-secondary(href='#') View Detail &raquo;
      .col-md-4
        h2 Get In Touch
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        a.btn.btn-outline-secondary(href='#') View Detail &raquo;
          