
$contentWidth     : 1280px;
$colorWhite       : #ffffff;
$colorPurple      : #9476d6;
$defaultColor     : #333333;
$defaultFontSize  : 14px;

$fontCanela       : "Canela Web", "Times New Roman", Times, serif;
$fontRoboto       : "Roboto",Helvetica,Arial,sans-serif;
$fontRobotoMono   : 'Roboto Mono', monospace;;
$fontNormal       : 400;
$fontBold         : 700;

$white 	          :#ffffff;
$black 	          :#29292c;
$dusk  	          :#49425b;
$purple	          :#9476d7;
$purpleDark       :#49425b;
$gray             :#cccccc;

$assetBase        : "https://secure.s.forbestravelguide.com/images";