.App {
  text-align: center;
  color: #555555;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  /* margin: 10px 0 20px; */
  font-family: "PT Serif", serif;
}

.hidden {
  display: none;
}

.ftgTopLogo {
  padding: 0 10px;
}

nav {
  background: #49425b;
  /* min-height: 10vh; */
  min-height: 75px;
  display: flex;
}

nav ul {
  flex: 1;
  display: flex;
  list-style: none;
  /* justify-content: space-around; */
  justify-content: flex-end;
}

nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #eeeeee;
  min-width: 100px;
}

nav > a:hover {
  text-decoration: underline;
}

nav > a:nth-child(2) {
  margin-left: auto;
}

.navbar__link--active {
  color: #ffffff;
  font-weight: bold;
}

.loadingBlock {
  height: 80vh;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0 auto;
}

.loadingText {
  margin: 0 0 30px;
  animation: blinkingText 1s linear infinite;
}

@keyframes blinkingText {
  50% {
    opacity: 0;
  }
}

/* Destination Page */
.destListWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.destListWrap .card {
  width: 30%;
  max-width: 350px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 10px;
  line-height: 1.3rems;
}
.destListWrap .card .description {
  height: 110px;
  overflow: scroll;
  color: #666666;
  font-size: 0.8rem;
  margin: 10px;
  text-align: left;
  display: none;
}

.destListWrap .card .photo img {
  width: 100%;
}

.destListWrap .card .name {
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: bold;
}

.destListWrap .card .externalLinks {
  margin: 10px 0;
}
.ftgIcon {
  width: 100px;
  margin-right: 20px;
}
.mapIcon {
  width: 35px;
}

/* Destination Detail */
.destinationDetailWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.destinationDetailWrap::after {
  content: "";
  flex: auto;
}

.destinationBlock {
  border: 1px solid #ccc;
  padding: 10px;
  /* width: 47%; */
  width: 30%;
  margin-bottom: 20px;
}

.destinationBlock .propImg {
  position: relative;
}

.destinationBlock .propImg .ratingWrap {
  position: absolute;
  width: 100%;
  text-align: right;
}
.destinationBlock .propImg .rating {
  color: #ffffff;
  width: 50px;
  margin: 10px;
}
.destinationBlock .propImg .propertyImg {
  width: 100%;
}

#destinationTop .destinationPhoto img {
  width: 100%;
}
#destinationTop .description {
  font-size: 14px;
  text-align: justify;
}
.propNameBlock {
  min-height: 100px;
}
.propName {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}
.propHeadline {
  font-size: 13px;
}

.contactForm {
  margin: 30px auto 0;
  width: 50%;
}
.formRow {
  position: relative;
  height: 60px;
  overflow: hidden;
}

.contactForm input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  outline: none;
  padding-top: 20px;
  border: none;
  font-size: 14px;
}

.contactForm label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
}

.contactForm label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

/* .contactForm input:valid {
  background: #b9f3e6;
}
.contactForm input:invalid {
  background: #eeeeee;
} */

.contactForm input:focus + .label-name .content-name,
.contactForm input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}
.contactForm input:focus + .label-name::after,
.contactForm input:valid + .label-name::after {
  transform: translateY(0);
}

@media all and (max-width: 660px) {
  .destListWrap .card {
    width: 100%;
    max-width: 100%;
    pointer-events: none;
  }
}
