@charset "UTF-8";

.widget-container{ padding: 20px; }


/*----------------------------------------------------------------------------------- */
/*  jQuery Sparkline Tooltip fix */
/*----------------------------------------------------------------------------------- */
.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

/*----------------------------------------------------------------------------------- */
/*  jQuery Easy Pie Chart Styles */
/*----------------------------------------------------------------------------------- */
.easyPieChart {
    position: relative;
    text-align: center;
    margin: 5px auto 9px; }
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0; }

.pie-number {
    font-size: 4.5em;
    font-weight: 100;
    letter-spacing: -0.05em;
    color: #bbbbbb; }

.pie-text {
    text-align: center;
    padding: 8px 0 14px 0; }

/*----------------------------------------------------------------------------------- */
/*  Stats Styles */
/*----------------------------------------------------------------------------------- */
.chart-list {
    text-decoration: none;
    display: inline;
    padding: 0 2px 0 0; }

.chart-list-item {
    width: 55px;
    text-align: left; }

.chart-number {
    font-size: 2.5em;
    font-weight: 100; }

.bar-chart-widget {
    text-align: center; }
.bar-chart-widget .bar-chart-info {
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px 14px -21px;
    text-align: center; }
.bar-chart-widget .bar-chart-info.visible-lg {
    display: inline-block !important; }
.bar-chart-widget .bar-chart-info p {
    font-weight: 300;
    color: #bbbbbb; }
.bar-chart-widget .bar-chart-info .chart-number {
    font-size: 4em;
    font-weight: 100;
    color: #60c560;
    line-height: 1.2em; }
.bar-chart-widget .bar-chart-info .chart-number i {
    margin: 12px 10px 0 0;
    opacity: 0.5;
    font-size: 0.9em;
    display: inline-block;
    vertical-align: top; }
.bar-chart-widget .bar-chart-info .chart-text {
    font-size: 0.8em;
    font-weight: 400;
    color: #888888; }

.chart-graph {
    display: inline-block;
    vertical-align: middle; }
.chart-graph .chart-text-axis {
    padding: 0 0 0 5px;
    width: 100%;
    margin: 6px 0 0;
    list-style: none; }
.chart-graph .chart-text-axis li {
    font-size: 0.7em;
    font-weight: 400;
    text-align: center;
    width: 12px;
    margin-right: 6px;
    float: left;
    color: #aaaaaa; }

