/**************************************************************/
/*                  Over Writing Bootstrap                      */
.btn-default .caret { border-top-color: #FFFFFF; }
.modal{ background: url("../images/overlay-bg.png"); }
/**************************************************************/

.noscriptmsg { max-width: 970px; margin: 0 auto; }
.noscriptmsg{ padding: 10px;}
.noscriptmsg h1{ color:#ff0000; font-size:14px;}
.noscriptmsg ul, #chromeMsg{ padding-left: 30px;}
.noscriptmsg a{ color:#704675; text-decoration: underline;}
.noscriptmsg a:hover{ color:#9f63af;}

.dataTable th.sorting, .dataTable th.sorting_asc, .dataTable th.sorting_desc { color: #78D2DB !important;}
.dataTables_paginate a.paginate_active { background: none repeat scroll 0 0 #78D2DB !important; border-color: #78D2DB !important;}

/**************************************************************/
/*                  Over Writing Flat-UI                      */
a:hover,a:focus {color: #78D2DB;}
.mbl, .mvl, .mal { margin: 0; }
.ui-spinner input { border: 1px solid; }
.ui-spinner-input{ font-size:14px !important;}
.ui-spinner-inputn{ font-size:20px !important;}
.ui-spinner-input{ width:70px; }
.ui-spinner-button{ line-height: 16px;}
.ui-spinner-down { height: 17px; }
.ui-spinner { display: inline-block; }
#spinner-year { width:70px;}
#display-date { width:170px;}
.btn.btn-lg, .input-group-lg .btn {  font-size: 1em; line-height: 1em; }
.btn.disabled, .btn[disabled] {opacity: 0.4;}
.form-group.focus .form-control, .form-control.flat:focus, .form-control:focus, .form-group.focus .input-group-btn .btn-default { border-color: #78D2DB !important; }
.form-group.focus .input-group-btn .btn-default, .navbar-search.focus .input-group-btn .btn-default { border-color: #78D2DB !important; background-color: #ffffff !important;}
.radio .icons, .form-group.focus .input-group-btn .btn-default,.navbar-search.focus .input-group-btn .btn-default { border-color: #78D2DB !important; }
.checkbox.checked, .radio.checked, checkbox.checked .icons, .radio.checked .icons,  .form-group.focus .btn-default .fui-calendar  { color: #78D2DB; }
a:hover, a.focus:hover{color:#78D2DB;text-decoration:underline;}

.btn.btn-primary, .btn.btn-primary a { color:#ffffff; }
.btn.btn-primary{ background-color: #78d2db; }
.btn.btn-primary:hover, .btn.btn-primary a:hover { background-color: #a5e0e6; text-decoration:none; }
.btn.btn-primary.disabled, .btn.btn-primary[disabled] { color:#999999; background-color: #eaeaea;}

.btn.btn-wt {color:#333333;background-color: #ffffff;padding-bottom: 34px !important;}
.btn.btn-wt .caret {border-bottom-color: #cccccc;border-top-color: #cccccc;}
.btn.btn-wt:hover,.btn.btn-wt:focus,.btn-group:focus .btn.btn-warning.dropdown-toggle {background-color: #ffffff;}
.btn.btn-wt:active,.btn-group.open .btn.btn-wt.dropdown-toggle,.btn.btn-wt.active {color:#333333;background-color: #ffffff;}

.checkbox.checked .icons, .radio.checked .icons { color: #78d2db; }

.dropdown-inverse2 { background-color: #cccccc; color: #cccccc; padding: 4px 0 6px; }
.dropdown-inverse2 li { margin: 0 4px -2px;}
.dropdown-inverse2 li:first-child > a,.dropdown-inverse2 li:last-child > a { border-radius: 2px; padding-bottom: 7px; padding-top: 5px;}
.dropdown-inverse2 li:first-child dt + a,.dropdown-inverse2 li:last-child dt + a { border-radius: 2px; }
.dropdown-inverse2 li.active > a,.dropdown-inverse2 li.selected > a { background: #663366; color: #ffffff; position: relative; z-index: 1; }
.dropdown-inverse2 li dt { padding-left: 11px; padding-right: 11px; }
.dropdown-inverse2 li .divider { margin-left: 11px; margin-right: 11px;}
.dropdown-inverse2 li > a { border-radius: 2px; color: #333333; padding: 5px 11px 7px; }
.dropdown-inverse2 li > a:hover,.dropdown-inverse2 li > a:active,.dropdown-inverse2 li > a:focus { background: #914491; }
.dropdown-inverse2 li > a.highlighted { background: #526476; }
.dropdown-inverse2 li > a.highlighted:hover,.dropdown-inverse2 li > a.highlighted:focus { background: #677786; }
.dropdown-inverse2 li .divider {background-color: #526476; border-bottom-color: #526476;}

.dropdown-inverse2.dropdown-menu li.active > a:hover,.dropdown-inverse2.dropdown-menu li.selected > a:hover,.dropdown-inverse2.dropdown-menu li.active > a.highlighted:hover,.dropdown-inverse2.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-inverse2.dropdown-menu li.active > a:focus,.dropdown-inverse2.dropdown-menu li.selected > a:focus,.dropdown-inverse2.dropdown-menu li.active > a.highlighted:focus,.dropdown-inverse2.dropdown-menu li.selected > a.highlighted:focus { background: #914491;}
.btn-group > .dropdown-menu {z-index: 1002;}

.dropdown-inverse li.active > a, .dropdown-inverse li.selected > a, .dropdown-menu li.active > a, .dropdown-menu li.selected > a, .dropdown-menu li.active > a.highlighted, .dropdown-menu li.selected > a.highlighted{
    background: none repeat scroll 0 0 #78D2DB;
}
.dropdown-menu li.active > a:hover,.dropdown-menu li.selected > a:hover,.dropdown-menu li.active > a.highlighted:hover,.dropdown-menu li.selected > a.highlighted:hover,.dropdown-menu li.active > a:focus,.dropdown-menu li.selected > a:focus,.dropdown-menu li.active > a.highlighted:focus,.dropdown-menu li.selected > a.highlighted:focus {background: #a5e0e6;}
.dropdown-menu.typeahead {border: 2px solid #78D2DB;}
.btn.btn-primary:hover,.btn.btn-primary:focus,.btn-group:focus .btn.btn-primary.dropdown-toggle {background-color: #a5e0e6;}
.nav-tabs > li > a:hover,.nav-tabs > li > a:focus {color: #78D2DB;}

.dropdown-inverse {background-color: #333333;}

.form-group{margin-bottom: 0px;}
/**************************************************************/

.cke_button__redactor{}
.cke_button__redactor_icon{ background-size: auto !important; width:49px !important;  }
.cke_top, .cke_bottom { background: none repeat scroll 0 0 #EFEFEF !important; }

body { font-size: 14px; font-weight: 400; color: #333333;}
/*#global-header{ padding: 14px 0; background: #333333; }*/
#global-footer{ padding: 30px; background: #333333; z-index: 1001; position: relative;}
#global-footer .footer{
    /*color:#cccccc; */
text-align: center; font-size:12px; font-family: arial;}

.fs0x{ font-size: 0.8em; }
.fs1x{ font-size: 1.25em; }
.fs2x{ font-size: 1.5em; }
.fs3x{ font-size: 1.8em; }
.fs4x{ font-size: 2.8em; }
.fs5x{ font-size: 3.5em; }
.fs6x{ font-size: 5em; }
.fsLt{ font-weight: 300; }

.fontAllCap{ text-transform: uppercase}
.fontLightColor{ color:#757575; }

.roboto{font-family: 'Roboto Slab', serif;font-weight: 300;}
.robotoBold{font-family: 'Roboto Slab', serif;font-weight: 400;}

.borderBottom{ border-bottom: 1px solid #bcbcbc; }
.fullWidthBlock { display: block; width:100%;}
/*#qFormBlock{ padding: 20px 0; }*/
#qFormBlock{ padding: 0 0 20px 0; }

.bgGray{ background:#A0A0A0; color:#ffffff; padding: 5px 0;}
.bgDark{ background:#262626; color:#ffffff; padding: 5px 0;}
.bgLightGray{ background:#F2F2F2; padding: 10px;}

.txtRight{text-align: right;}
.leftFloat{ float:left; }
.divRight{ float:right; }

.btn.btn-dark { background-color: #262626; font-size: 20px; padding: 9px 21px; }
.btn-Rectangle{ border-radius: 0 0 0 0; }

/*.container{padding-left: 10px; padding-right: 10px; max-width: 100%;}*/
.container{padding-left: 0px; padding-right: 0px;}

/**************************************************************/


a { color: #78D2DB; }


#global-header { background: none repeat scroll 0 0 #663366; padding: 14px 0; }

#hideHeaderTop { background-color: #78D2DB; }

.progress-bar { background: none repeat scroll 0 0 #663366; }
.flyOutMenu .sectionListMenu a.currentSection { color: #78D2DB; }


#navigation {padding: 12px 0; }
/*#submitEvaluation, #submitEvaluationApprovedPublished{ display: inline-block; font-size: 0.8em; margin-left: 10px; padding: 5px 10px; position: relative; top: -2px; }*/
#submitEvaluation, .headerTopButton{ display: inline-block; font-size: 0.8em; margin-left: 10px; padding: 5px 10px; position: relative; top: -2px;height: 30px; }

#hideHeaderTop{ left: 56px; width: 35px; padding: 0 7px 7px; position: relative; }

#headerTitleBlock{ padding: 10px 0 20px 57px; }

#evalTotalProgressBar{ margin: 0 40px 0 0; position: relative; top: 6px; width: 250px; cursor: pointer; float: right;}
#evalTotalProgressTxt{ display: none; position: relative; text-align: center; cursor: pointer; float: right; margin-right: 70px;}


#mainContentBlock { background: url("../images/data/bg-011.jpg") repeat scroll -67px 0; }

#leftMenuWrap{padding-left: 0;padding-right: 0;}
#leftIconMenuBlock{ padding: 0; color:#ffffff; text-align: center; }
#leftIconMenuBlock img{width: 100%;}
#leftIconMenuBlock .iconMenu{ /*height:50px;*/ }
#leftIconMenuBlock .iconMenuLine{ line-height: 0; }
#leftIconMenuBlock .iconMenu, #leftIconMenuBlock .iconMenuInfo{cursor :pointer;}
#leftIconMenuBlock .iconMenu {opacity: 0.3;}
#leftIconMenuBlock .iconMenu.active{cursor :pointer; opacity:1; background: url("../images/data/menu-active.png") repeat scroll -49px -8px rgba(0, 0, 0, 0); }
#leftFlyOutMenu{display:none; background: #eeeeee; min-height: 500px;padding-bottom: 30px; padding: 0; top:0 !important; position: relative;margin-bottom: 50px;}
#leftFlyOutMenu #leftFlyOutContentWrap{ padding-top: 30px; padding-right: 0; }

.flyOutMenu {display:none;}
.flyOutMenu .sectionMenuCheckbox {display: inline-block; width: 20px;}
.flyOutMenu .sectionMenuName {display: inline-block; min-width:150px; max-width:200px; font-size: 1.1em;}
.flyOutMenu .sectionMenuName .sectionLink  { margin-right: 10px;}
.flyOutMenu .sectionMenuViewEdit {display: inline-block; font-size: 0.8em; margin-left: 5px;}
.flyOutMenu .sectionListMenu{ margin: 0 0 10px; clear: both;}
.flyOutMenu .sectionListMenu a.sectionLink{ color:#78D2DB;}
.flyOutMenu .sectionListMenu a.currentSection{ color:#333333;}
.flyOutMenu .sectionListMenu a.sectionLink:hover{ text-decoration: underline;}
.flyOutMenu .menuPanelTitle{display: inline-block; padding: 0 0 10px 24px; }
.flyOutMenu .excelDownload{margin-top: 10px;}
#flyOutCloseBtn{
    background: none repeat scroll 0 0 #78D2DB;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 20px;
    font-weight: 100;
    padding: 5px 8px 4px;
    position: relative;
    top: -29px;
}



#mainContentArea{float: right; padding-bottom: 50px;background: none repeat scroll 0 0 #F4F4F4;}




/************************************************************************/
.commentViewFrame{ margin: 0 auto; float: none; width:70%;}
.commentViewFrame.sizeN{width:100%;}

.commentViewFrame .commentList .row{ margin: 20px 0 0;}
.commentViewFrame .commentList .row .commenterInfo, .commentModal .commenterInfo{ padding-top: 10px; }
.commentViewFrame .commentList .row .commentText, .commentModal .commentText{ padding: 20px 20px 20px 30px; background-color: #ffffff; border:1px solid #dddddd; border-radius: 6px 6px 6px 6px; overflow: auto; word-wrap: normal; }
.commentArrowLeft{ display: inline-block; float: left; left: 4px; position: relative; top: 7px; z-index: 3; }
.commentArrowRight{ display: inline-block; float: left; left: -5px; position: relative; top: 7px; z-index: 3; }
.commentViewFrame .submitcommentBtn{ margin-top: 10px;}
/* Section Comment jEdit **************************/
.commentText form{ overflow: hidden; }
.commentText form textarea{ border: 1px dotted #cccccc; margin-bottom: 10px; margin-right: 10px; width: 95% !important; }
.commentText form button{ margin-right: 10px; padding: 3px 20px; }
/************************************************************************/

.read-more, .read-less { left: 12px; position: relative; top: 0; }
.read-more a, .read-less a { position: relative; top: 2px; }
.nameTag{color:#ff0000}
.redact {color: #000000; text-decoration: underline; text-shadow: 0 0 5px rgba(100, 0, 0, 0.7);}

/* Section Q/A List View **************************/
.sectionTitle{padding-left: 50px;}
#sectionTitleBlock{ background: #F4F4F4; height: 90px; padding: 24px 0; }
#sectionTitleBlock h1{ padding: 0 0 0 20px; display: inline-block;position: relative;  top: 10px; }
.sectionTitleBlock{ background: #ffffff; padding: 10px 0 10px 0; }
.qaListView .questionNumber{text-align: center;font-size: 2.3em; padding: 0;}
.qaListView .evalQA{ margin:10px 0 15px; font-size: 12px;}
.qaListView .evalNotes{ margin: 0 20px; }
.qaListView .evalYesNo-Yes{ color:#1ABC9C}
.qaListView .evalYesNo-No{ color:#AC0101}
.qaListView .evalYesNo-NA{ color:#9E9E9E}
.qaListView .btnYesNo-Yes{ background:#1ABC9C; }
.qaListView .btnYesNo-No{ background:#AC0101; }
.qaListView .btnYesNo-NA{ background:#9E9E9E; }
.qaListView .evalNoteTitle{font-weight: 700; text-transform: uppercase; font-size:0.9em; margin-bottom: 5px;}
.qaListView .evalNoteText {margin-bottom: 20px;}
/*.qaListView .evalNoteText p{font-size:1em;line-height: inherit; display:inline; }*/
.qaListView .evalNoteText p, .qaListView .multiAnswerText[data-qtype="OPEN_TEXT"] p{font-size:14px; line-height: inherit;word-wrap: break-word; }
.qaListView .evalEditBox.internal{ padding: 0; }
.qaListView .editAnswer {padding: 0;}
.qaListView .editViewFrame, .commentViewFrame{display:none;overflow: visible !important;}

/*.qaListView .editViewFrame h1{display: none;}*/

/*.editViewFrame .answerRadioBtns label{ display: inline-block; margin-right: 30px;}*/
.qaListView .editViewFrame fieldset.buttons{ text-align: right; }
.qaListView .editViewFrame fieldset.buttons input{ margin-left: 20px; }
.qaListView .editViewFrame .form{margin-bottom:15px;}

.qaListView .multiAnswerBlock{margin-left: 95px;}
.qaListView .multiAnswerBlock .multiAnswerText{ margin-bottom: 10px;}

.qaListView .editViewFrame .btn.cancel{ background: #ffffff; color:#78d2db; }
.qaListView .editViewFrame .btn.cancel[disabled]{ background: #ffffff; color:#cccccc; }

.errorMsgTxt{ color: #ff0000; }

/************************************************************************/

.qAnswerChoice{ border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; margin: 20px 0; }
.qAnswerChoice label{ padding: 0; }
.qAnswerChoice label .icons{ display: inline-block; position: relative; }
.qAnswerChoice label .answerValue{display: inline-block; position: relative; top: -1px; margin-left: 15px;}
.qAnswerChoice .answerSelect{ display: inline-block; padding: 10px 20px; }
.saveNextBtnGroup{margin-top: 8px; position: relative; color:#16A085; }
.saveNextBtnGroup .btn-text{background: none; color:#16A085; }
.saveNextBtnGroup input{ padding-left:20px;padding-right:20px; margin-top: 6px;}

.questionHelpIcon{ font-size: 20px; margin-left: 5px; position: relative; top: -3px; cursor: pointer; color:#78D2DB;}
.qsType{font-size:14px; margin-top: 10px;}
.answerSelectNA { display: inline-block; left: 30px; position: relative;}
.answerSelectNA.bgClassNA .answerValue, .answerSelectNA.bgClassNA .icons{color:#ffffff;}

.answerSelectNA .radio{ position: relative; }
.elapsedTimeHour, .elapsedTimeMin, .elapsedTimeSec{ width: 44px; display: inline-block; }
.elapsedTimeLabel{position: relative; top:4px;}
.elapsedTime {margin-right: 10px;}

.bgClassYes{background:#1ABC9C;}
.bgClassNo {background:#AC0101;}
.bgClassNA {background:#9E9E9E;}

.questionHelpText{ display: none; margin-bottom: 20px;}

.qAnswerChoice .questionText{ margin:20px 0;}
.qAnswerChoice .answerSelect .radio.checked, .qAnswerChoice .answerSelect .radio.checked .icons{color:#ffffff;}
.multipleChoice.qAnswerChoice .answerSelect .radio.checked, .multipleChoice.qAnswerChoice .answerSelect .radio.checked .icons{color:#78D2DB;}
.multipleChoice.qAnswerChoice .answerSelect.answerSelectNA .radio.checked, .multipleChoice.qAnswerChoice .answerSelect.answerSelectNA .radio.checked .icons{color:#ffffff;}

.qAnswerChoice .yesNoBlock{padding-left: 0}

.qAnswerChoice #numericAnswer{ position: relative; width: 90px;  }
.qAnswerChoice .currencyAmount{margin-bottom: 0; margin-right: 10px;}
.qAnswerChoice .currencyAmount .dropdown-menu{display: inline-block;}
.qAnswerChoice .currencyAmountNumber {display: inline-block;}
.qAnswerChoice .currencyAmountBlock span{display: inline-block;}
.qAnswerChoice textarea{ width: 450px; margin: 10px 0; display: inline-block; }

.qAnswerChoice .postStaySelect, .qAnswerChoice .emotionalEngagementSelect { display: inline-block; }
.qAnswerChoice .postStaySelect span, .qAnswerChoice .emotionalEngagementSelect span { display: inline-block; margin-right: 30px; }
.qAnswerChoice .postStaySelect .radio .icons, .qAnswerChoice .emotionalEngagementSelect .radio .qAnswerChoice{ margin-right: 10px; top: 4px;}
.qAnswerChoice .postStaySelect, .qAnswerChoice .emotionalEngagementSelect{margin-top: 13px;}

.qAnswerChoice .postStaySelect .answerSelect {padding-left: 0;}

.commentAdd{margin-top:20px;}
textarea.commentTextField{ width: 100%;}

#evaluatorInstructionsContent{display: none;}
#flashShowMessage{ display: none; }

.panelCommentIcon{padding: 0 10px; color:#ff0000;}
.commentIconNew{padding: 0 0 0 10px; color:#ff0000;}
.commentIconNew.qView{padding: 0 10px 0 0; color:#ff0000;}

.makeCommentRead {margin-right: 20px; position: relative; top: 6px; cursor: pointer;}
/*.makeCommentRead:hover {color:#ff0000;}*/
.makeCommentRead .fui-check{border:1px solid #cccccc;}
.commentBtnGroup{padding-right: 70px;}

.panelLineDivider{margin:20px; padding: 20px 0 30px; border-top:1px solid #cccccc;}
/*#feViewCommentForm .icons{background: #ffffff; color:#999999;}*/

.uploadPageBtn{width: 210px;margin: 0 0 0 20px;padding: 12px 0;display: inline-block;}

.sectionListBlockMenu{ padding-left: 20px;}

.uploaderFormBlock{margin-left: 50px;}
.uploaderFormBlock .uploadHeader{padding: 10px 0 65px;}
.uploaderFormBlock form #Submit, .uploaderFormBlock form .browseBtn {padding: 10px 50px; text-transform: uppercase; width:160px;}
.uploaderFormBlock form .browseBtn {margin-bottom: 20px;}
.uploaderFormBlock form #Submit {margin-top: 20px;}
.uploaderFormBlock form .customfile-list-block{margin-bottom: 20px; color: #78D2DB;}
.uploaderFormBlock form .uploadPage button.btn.dropdown-toggle{width: 400px;}
.uploaderFormBlock.attachment .attachDescriptionUpload #description{width: 280px; margin-bottom: 10px;}
.uploaderFormBlock input.error{border:1px solid #ff0000 !important;}

.filePanelWrap{float: left; width:323px; margin: 10px; padding: 34px 20px 20px; border:1px solid #cccccc; border-radius: 6px; background: #ffffff;}
.filePanelWrap .thumbLarge{height: 210px; max-width: 280px;}
.filePanelWrap .thumbWrap{text-align: center; background: #cccccc;margin-bottom: 20px; height: 210px;}
.filePanelWrap .clientFacing{padding: 10px 0;}
.filePanelWrap .save.btn{width:90px;}
.filePanelWrap .attachFileName{margin:20px 0;}
.filePanelWrap .attachDescription{margin:0px 0 10px;}

.attachIcon{width:24px; height:28px; display: inline-block;position: absolute;}
.icon-file-document{background: url("../images/data/icon-file-doc.png") no-repeat;}
.icon-file-audio{background: url("../images/data/icon-file-audio.png") no-repeat;}
.icon-file-excel{background: url("../images/data/icon-file-excel.png") no-repeat;}
.icon-file-other{background: url("../images/data/icon-file-etc.png") no-repeat;}
.attachDownloadLink{display: inline-block;left: 36px;position: relative;width: 85%;}
.attachDownloadLink a{word-wrap:break-word; min-height: 30px;display: block;}

.cancelBtn{margin-right: 10px;}
.xBtn {background: none repeat scroll 0 0 #78D2DB;color: #FFFFFF;cursor: pointer;display: inline-block;font-size: 10px;font-weight: 100;left: 277px;padding: 5px 8px 4px;position: absolute;top: -35px;}
.tab-content{padding: 44px 10px 20px;}
.qaBlock{background: #ffffff; padding:10px; margin-bottom: 10px;}
.questionBlock{background: #ffffff; padding:10px 30px 30px; margin: 20px;}
.headlineText{font-size:42px; font-family: 'Roboto Slab', serif;font-weight: 300; margin: 30px 0 30px 0;}
.headlineText.cpAnalysis{font-size:33px; font-family: 'Roboto Slab', serif;font-weight: 300; margin: 30px 0 30px 0;}
.headlineText.withSubHeader{margin-bottom: 10px;}
.dataTables_length{text-align: right; width: 74% !important; position: relative; top: -2px;}
.dataTables_filter{width: auto !important;}
#tableContentBlock .tableFilterDropDown{position: relative; display: inline-block; z-index: 1; top: 23px;}
#tableContentBlock{ position: relative;}
#tableContentBlock .dataTables_wrapper{position: relative; top: -30px; }
#tableContentBlock .tableContentTitle{ position: relative;  margin-bottom: 28px;}


#evalListCheckBoxOptions{display: inline-block; position: relative; top: 0px; z-index: 1;}


.completeEvaluation{padding: 2px 10px; margin-left: 10px;}
.wordwrap{
    /* wrap long text and urls */
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word; /* IE 5+ */
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {padding: 10px;}
.btn.cancelBtnNoBg {background:none; color:#78D2DB; width: 60px;}
.btn.cancelBtnNoBg:hover {background:none; text-decoration: underline;}
.btn.disabled.cancelBtnNoBg, .btn.cancelBtnNoBg[disabled] {background:none;}


#helpContent{margin-bottom: 50px;}

.dropdown-menu > li > a {white-space: normal;}

.modal-body ul{list-style: disc inside none; padding-left: 10px;}

.mainNav.clientNav{top:10px;}
.mainNav.clientNav a{padding: 5px 10px; color:#64c9d3}
.mainNav.clientNav a:hover{color: #ffffff; text-decoration: underline;}
.mainNav.clientNav .active a{color: #ffffff;}

.editViewFrame{ overflow: visible;}

table.dataTable th, table.dataTable td{font-weight: normal;}

.autoShortenMore{ margin-left: 10px;}
.autoShortenLess{ margin-left: 10px;}

#helpPage.clientView {max-width: 1170px;}
#helpPage p,#helpPage li{color: #777777;font-size: 1.07em;margin: 0;line-height: 1.5;}

#appEvaluator #homeDropboxWrap{ display: none;}
#appEvaluator #global-footer .footer{ color:#777777;}

.jqplot-yaxis {min-width:40px !important;}
.jqplot-xaxis {margin-top:20px !important;}

.lineGraphChart .jqplot-yaxis-tick:first-child, .jqplot-yaxis-tick:last-child{display: none !important;}

.lineGraphChart .jqplot-overlayCanvas-canvas{z-index: 0 !important;}
.lineGraphChart .jqplot-series-canvas{z-index: 1 !important;}
.lineGraphChart .jqplot-event-canvas{z-index: 2 !important;}
.jqplot-point-label{font-size: 10px;z-index: 3 !important;}

.jqplot-xaxis-tick{text-align: center;}
.jqplot-xaxis-tick{ -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.jqplot-pie-series{ display:none; }
.jqplot-highlighter-tooltip{width:150px; z-index:100; border:1px solid #999999; background: #ffffff; padding:10px 5px; font-size:12px;}

.barGraphChart .jqplot-highlighter-tooltip, .benchMarkBarGraphChart .jqplot-highlighter-tooltip{ text-align: center;  font-size: 12px;  padding: 10px;  border-radius: 5px;  background: #ffffff;  border:1px solid #eeeeee;  min-width: 100px;  }
.prePostHoverText{font-weight: normal !important;}

.eeTimeLineChart .jqplot-canvasOverlay-tooltip{  z-index: 50;  }

.wideGraph.lineGraphChart{  margin: 20px 40px 40px;  }
.wideGraph .graph{  width: 85%;  height: 350px;  margin: 0 auto;  }
.eeTimeLineChart.wideGraph .graph {  height: 650px;  }
.eeTimeLineChart.wideGraph .graph .jqplot-xaxis-tick{  -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);  -ms-transform: rotate(0deg);  -o-transform: rotate(0deg);  transform: rotate(0deg);  }

.modal-dialog{  max-height: 98%;  overflow-y: auto;  overflow-x: hidden;  }
.modal-dialog .commentModal {  max-height: 250px;  overflow-y: scroll;  overflow-x: hidden;  }

.commentModal .commentListBlock{  margin: 10px 0;  }


/*----------------------------------------------------------------------------------- */
/*  Line Chart Styles */
/*----------------------------------------------------------------------------------- */
.line-chart {  width: 100%; }
.line-chart .chart-text-axis {  margin: 4px 0 0 !important; }
.line-chart .chart-text-axis li {  width: 8.33% !important;  margin: 0 !important; }

.pie-chart {  text-align: center;  }
.pie-chart #pie-chart { display: inline-block; vertical-align: middle; margin: 0px 0 00px;}
#achievedMissed{padding: 0;}

ul.chart-key {  vertical-align: middle;  text-align: center;  list-style: none;  margin: 30px 0 0 0; }
ul.chart-key li {  min-width: 100px;  display: inline-block;  margin: 10px 10px 5px 0;  color: #888888; }
ul.chart-key li span {  width: 20px;  height: 15px;  overflow: hidden;  margin-right: 5px;  display: inline-block;  vertical-align: middle; }
ul.chart-key li span.green {  background: #81e970; }
ul.chart-key li span.orange {  background: #f5af50; }
ul.chart-key li span.red {  background: #f46f50; }
ul.chart-key li span.blue {  background: #a0eeed; }
ul.chart-key li span.purple {  background: #7B58CC; }
ul.chart-key li span.white {  background: #ffffff; }

.barGraphChart .jqplot-xaxis-tick, .benchMarkBarGraphChart .jqplot-xaxis-tick {font: 12px sans-serif !important;margin-top: 10px; max-width: 95px;}
.helpTextLink{font-size: 16px;position: relative;top: -15px;}
.lato{font-family: "Lato",Helvetica,Arial,sans-serif;}
#assetHistoryTable th, #assetHistoryTable td{text-align: center;}

.fui-chat{cursor: pointer;}
.fui-bubble{cursor: default;}


#appInternal-App .dataTable tbody tr:hover{background: #E6EEF7 !important;}
#appInternal-App .dataTable tbody tr:hover td{background: none !important;}

#sectionTitleForNote{color:#78d2db; cursor: pointer; font-size: 18px;}
#sectionNoteModal{display: none;}

.italic{font-style: italic;}
.forceToWrap{word-wrap: break-word;}



#appEvaluator .qaBlock.notAnswered .questionText{color:#aaaaaa;}
#appEvaluator #onlyNotAnsweredWrap{
    height: 0;
    position: relative;
    top:75px;
    text-align: right;
    width: 100%;
    z-index: 5;
}
.topBottom{
    float: right;
}
.topBottom a{
    margin-right: 20px;
}
.topBottom i{
    margin-right: 10px;
}
#onlyNotAnsweredInnerWrap{
    background: #555555 none repeat scroll 0 0;
    border: 1px solid #663366;
    /*border-bottom: 1px solid #fff;*/
    display: inline-block;
    padding: 10px 10px 5px 10px;
    width: 100%;
    max-width: 1200px;
}
#onlyNotAnsweredInnerWrap input{
    margin: 0 5px 0 0;
}
#onlyNotAnsweredInnerWrap label{
    margin-right: 20px;
    color: #ffffff;
}
#showOnlyTitle{
    margin-right: 10px;
    margin-left: 50px;
    color: #ffffff;
}
#showOnlyTitle2{
    margin-right: 10px;
    margin-left: 30px;
    color: #ffffff;
}
label.checkbox{
    display: inline;
}
.fixedPositionFilterBar{
    position: fixed;
    top: 0;
    z-index: 10;
}






.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 30px;
}
.control {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background: #e6e6e6;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 5px;
    top: 5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}
