html {
  font-size: 62.5%; /*  16px(default browser font size) * 62.5 = 10px = 1rem ......... rem is good for sizes of browsers  */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
}

.header-links a {
  color: #ffffff;
}

.header-links a:hover {
  color: #ff8000;
}

.main {
  grid-area: main;
}

.footer {
  background-color: #203040;
  color: #ffffff;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Screen  */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;

  /*
  order: <integer>;
  flex-grow: <number>; ----- default 0 
  flex-shrink: <number>; -----  default 1
  flex-basis: <length> | auto; ----- default auto
  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
  align-self: auto | flex-start | flex-end | center | baseline | stretch;
  */

  flex: 0 1 34rem;

  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
}

.product-image {
  max-width: 34rem;
  max-height: 34rem;
}

.product-rating {
  margin-bottom: 1rem;
}

/* Side Bar */
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-300rem);
  width: 30rem;
  height: 100vh;
  background: #c0c0c0;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0.2rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.4rem;
}

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f8f8f8;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info ul li,
.details-action ul li {
  margin-bottom: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.backToResult {
  padding: 1rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
