span {
    font-weight: bold;
    background: #cccccc;
    padding: .3em .8em;
    cursor: pointer;
    user-select: none;
}

.play-container {
    padding: 3em;
    border: 1px solid #cccccc;
    margin-bottom: 1em;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}

.activeBlock{
    p{
        color: #ff0000;
    }
}

.active *{
    color: #223344;
    font-size: 1.5em;
}

.notactive *{
    color: #f10af1;
    font-size: 1em;
}